<style style lang="less" scoped>
.post-details-container {
    height: 100%;
    text-align: left;
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}
</style>


<template>
    <div class="post-details-container">
        <vue-markdown>{{ content }}</vue-markdown>
    </div>
</template>

<script>
import Prism from '@/lib/prism.js'

export default {
  name: 'PostDetails',
  data () {
    return {
      content: localStorage.getItem('post')
    }
  },
  methods: {
  },
  mounted: function () {
    Prism.highlightAll()
    // this.getPost(this.$route.params.id)
  }
}
</script>

