<style lang="less" scoped>

.post-container {
  height: 100%;
}

.post-card {
  height: 30%;
  width: 100%;
  border-style: groove;
  border-collapse: collapse;
  border-color: beige;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
}

.post-title {
  font-size: 1.5rem;
  flex: 1;
}

.page-content {
  flex: 2;
}

.post-second-line {
  display: flex;
}

.post-second-line-left {
  flex: 3;
}

.post-second-line-right {
  flex: 1;
  color: #a2a2a2;
}

.page {
  margin-top: 30px;
  height: 10%;
}

.post-item-meta {
  font-size: 0.5rem; 
}
</style>

<template>
  <div class="post-container">
    <div class="post-card" :bordered="false" v-for="item in content" :key="item.id" @click="clickPost(item.id)">
      <div slot="title" class="card-title">
        <p class="post-title">{{ item.title }}</p>
        <div class="post-second-line">
          <div class="post-second-line-left">
          </div>
          <div class="post-second-line-right">
            <p class="post-item-meta">Updated At {{ item.updated_at }}</p>
            <p class="post-item-meta">Created At {{ item.created_at }}</p>
            <p class="post-item-meta">Post by {{ item.post_by }}</p>
          </div>
        </div>
      </div>
      <pre class="post-content">{{ item.brief }}</pre>
    </div>

    <Page class="page" :total="totalPage" :page-size="pageSize" show-total @on-change="togglePage"></Page>
  </div>
</template>

<script>
import { APIS } from '@/constant/api'

import axios from '@/axios'

export default {
  name: 'Post',
  data () {
    return {
      pageSize: 2,
      totalPage: 0,
      content: []
    }
  },
  methods: {
    togglePage (pageIndex) {
      console.log(pageIndex)
      this.getPostMeta(pageIndex)
    },
    getPostMeta (pageIndex) {
      axios
        .request(APIS.getPostMeta(pageIndex, this.pageSize))
        .then(resp => {
          const data = resp.data
          const content = data.content
          console.log(content)

          this.content = content
          this.totalPage = data.total_count
        })
    },
    async clickPost (postId) {
      await this.getPost(postId)
      this.$router.push({ name: 'PostDetails', params: { id: postId } })
    },
    async getPost (postId) {
      const resp = await axios.request(APIS.getPost(postId))
      const data = resp.data
      localStorage.setItem('post', data)
    }
  },
  created () {
    this.getPostMeta(1)
  }
}
</script>
