<style lang="less" scoped>
.form {
  margin: 3%;
  display: flex;
  flex-flow: column;
}
</style>

<template>
  <Form class="form" ref="formInline" :model="formInline" :rules="ruleInline" inline>
        <FormItem prop="username">
          <Input size="large" type="text" v-model="formInline.username" placeholder="Username">
              <Icon type="ios-person-outline" slot="prepend"></Icon>
          </Input>
        </FormItem>
        <FormItem prop="password">
            <Input size="large" type="password" v-model="formInline.password" placeholder="Password">
                <Icon type="ios-locked-outline" slot="prepend"></Icon>
            </Input>
        </FormItem>
        <FormItem>
            <Button long size="large" type="primary" @click="handleSubmit('formInline')">Signin</Button>
        </FormItem>
  </Form>
</template>

<script>
import { mapActions } from 'vuex'
import { APIS } from '@/constant/api'

import axios from '@/axios'

export default {
  name: 'SessionIn',
  data () {
    return {
      formInline: {
        username: this.$route.params.name,
        password: ''
      },
      ruleInline: {
        username: [
          {
            required: true,
            message: 'Please fill in the username name',
            trigger: 'blur'
          }
        ],
        password: [
          {
            required: true,
            message: 'Please fill in the password.',
            trigger: 'blur'
          },
          {
            type: 'string',
            min: 6,
            message: 'The password length cannot be less than 6 bits',
            trigger: 'blur'
          }
        ]
      }
    }
  },
  mounted: function () {
  },
  methods: {
    handleSubmit (name) {
      this.$refs[name].validate(valid => {
        if (valid) {
          this.requestSession()
        } else {
          this.$Message.error('Fail!')
        }
      })
    },
    requestSession () {
      axios
        .request(
          APIS.getToken(this.formInline.username, this.formInline.password)
        )
        .then(response => {
          const data = response.data
          const accessToken = data.access_token
          const refreshToken = data.refresh_token

          this.createSession({
            ...data.user_profile,
            accessToken,
            refreshToken
          })
          this.$Message.success('Success!')
          this.$router.push({ path: '/layout/post' })
        })
        .catch(error => {
          console.log(error)
          this.$Message.error('Fail!')
        })
    },
    ...mapActions(['createSession'])
  }
}
</script>
