<style lang="less" scoped>
.form {
  margin: 3%;
  display: flex;
  flex-flow: column;
}
</style>

<template>
  <Form class="form" ref="formInline" :model="formInline" :rules="ruleInline" inline>
        <FormItem prop="username">
          <Input size="large" type="text" v-model="formInline.username" placeholder="Username">
              <Icon type="ios-person-outline" slot="prepend"></Icon>
          </Input>
        </FormItem>
        <FormItem prop="password">
            <Input size="large" type="password" v-model="formInline.password" placeholder="Password">
                <Icon type="ios-locked-outline" slot="prepend"></Icon>
            </Input>
        </FormItem>
        <FormItem prop="password">
            <Input size="large" type="password" v-model="formInline.passwordCheck" placeholder="Confirm Password">
                <Icon type="ios-locked-outline" slot="prepend"></Icon>
            </Input>
        </FormItem>
        <FormItem>
            <Button long size="large" type="primary" @click="handleSubmit('formInline')">Signup</Button>
        </FormItem>
  </Form>
</template>

<script>
import { APIS } from '@/constant/api'

import axios from '@/axios'

export default {
  name: 'SessionUp',
  data () {
    const validatePassCheck = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('Please enter your password again'))
      } else if (value !== this.formCustom.password) {
        callback(new Error('The two input passwords do not match!'))
      } else {
        callback()
      }
    }

    return {
      formInline: {
        username: '',
        password: '',
        passwordCheck: ''
      },
      ruleInline: {
        username: [
          {
            required: true,
            message: 'Please fill in the username name',
            trigger: 'blur'
          }
        ],
        password: [
          {
            required: true,
            message: 'Please fill in the password.',
            trigger: 'blur'
          },
          {
            type: 'string',
            min: 6,
            message: 'The password length cannot be less than 6 bits',
            trigger: 'blur'
          }
        ],
        passwordCheck: [
          {
            required: true,
            message: 'Pleas.',
            trigger: 'blur'
          },
          {
            validator: validatePassCheck,
            trigger: 'blur'
          }
        ]
      }
    }
  },
  methods: {
    handleSubmit (name) {
      this.$refs[name].validate(valid => {
        if (valid) {
          axios
            .request(APIS.createUser(this.formInline.username, this.formInline.password))
            .then(resp => {
              this.$Message.success('Success!')
              this.$router.push({path: '/session/in', params: { username: 123 }})
            })
            .catch(error => {
              console.log(error)
              this.$Message.error('Fail!')
            })
        } else {
          this.$Message.error('Fail!')
        }
      })
    }
  }
}
</script>
